@using ChangeManager.Service.Services
@model ChangeManager.Domain.Entities.Register

@{
    ViewData["Title"] = "Edit";
    var list = new int[Model.RegisterCoins.Count];
    var index = 0;
}


<h1>Edit</h1>

<h4>Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <table class="table">
                <thead>
                    <tr>
                        <th>Coin Value</th>
                        <th>Quantity</th>
                        <th>Quantity to Add or Remove</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.RegisterCoins)
                    {
                        <tr>

                            @if (item.Coin.Value < 100)
                            {
                                <td>@item.Coin.Value Centavos</td>
                            }
                            else
                            {
                                <td>R$ @(item.Coin.Value / 100)</td>
                            }
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @{ var idName = $"quantity_list_{index}"; }
                                <input asp-for="@list[index]" value="@list[index]" type="number" min="-@item.Quantity" id="@idName" />
                            </td>
                            <td>
                                <button onclick="add(event, @index, 1)">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                            <td>
                                <button onclick="add(event, @index, -1)">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                        index++;
                    }
                </tbody>
                @{ var total = RegisterService.TotalValue(Model); }
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>@total</td>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script type="text/javascript">
    function add(event, id, signal) {
        event.preventDefault();
        var tag = document.getElementById(`quantity_list_${id}`);
        tag.value = parseInt(tag.value) + parseInt(signal);
        if (parseInt(tag.value) < parseInt(tag.min)) {
            tag.value = tag.min;
        }
    }
</script>

<script type="text/C#">

</script>